.heard{
    display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* ปรับขนาดตามที่คุณต้องการ */
}
  .logo img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-left{
    float: left;
    text-align: center;
  }
  .title-right{
    text-align: center;
    float: right;
  }
  .date{
    text-align: center;
    clear: both;
  }


.detail{
    display: flex;
    width: 100%;
    justify-content: center;
}